@import '../../../assets/styles/settings/colors.scss';
@import '../../../assets/styles/settings/mixins.scss';

.icons-button {
    @include flex-center;
    padding: 3px;
    cursor: pointer;

    i {
        &::before {
            font-size: 24px;
        }
    }
    &__text {
        font-size: 16px;
        font-size: poppins;

    }
    &--small {
        i {
            &::before {
                font-size: 20px;
            }
        }
    }
    &--green {
        color: $green-dark;
    }
    &--black {
        color: $neutral-900;
    }
    &--red {
        color: $red-base;
    }
    &--yellow {
        color: $yellow-base;
    }

    &:hover {
        background-color: $neutral-100;
        border-radius: 50px;
    }
}