@import '../../assets/styles/settings/colors.scss';
@import '../../assets/styles/settings/mixins.scss';

.profile-page {

    &__head {
        @include flex-between-center;
        background-color: $white;
        padding: 10px;
        border: 1px solid $neutral-200;
        border-radius: 8px;
        margin-bottom: 10px;
        &__title {
            color: $neutral-900;
            font-size: 20px;
            font-weight: 600;
            line-height: 32px; 

        }
        &__actions {
            @include flex-start-center;
            .icon {
                i {
                    font-size: 24px
                }
            }
        }
        
    }
    &__info {
        @include flex-start-start;
        background-color: $white;
        padding: 20px;
        border: 1px solid $neutral-200;
        border-radius: 8px;
        &__profile {
            // padding-right: 40px;
            .image {
                width: 150px;
                height: 150px;
                overflow: hidden;
                @include flex-center;
                border-radius: 50%;
                img {
                    width: 100%;
                    height: fit-content;
                }
            }

            
        }
        &__about {
            width: 100%;
            @include flex-between-start;
            padding-left: 40px;
            &__text {
                .name-div {
                    @include flex-center-start;
                    flex-direction: column;
                    .name {
                        color: $neutral-900;
                        font-weight: 500;
                        line-height: 24px;
                        font-size: 18px;
                        letter-spacing: 0.28px;
                    }
                    .username {
                        color: $neutral-500;
                        font-weight: 500;
                        line-height: 24px;
                        font-size: 12px;
                        letter-spacing: 0.28px;
                    }
                }
                .about {
                    margin-top: 5px;
                    color: $neutral-800;
                    font-weight: 400;
                    line-height: 24px;
                    letter-spacing: 0.28px;
                }
                .text-with-icon {
                    @include flex-start-center;
                    font-size: 14px;
                    color: $neutral-700;
                    margin-top: 5px;
                    font-weight: 400;
                    i {
                        font-size: 20px;
                        margin-right: 3px;
                    }
                }
                .information-div {
                    @include flex-start-center;
                    .location {
                        @extend .text-with-icon;
                    }
                    .date {
                        @extend .text-with-icon;
                        margin-left: 5px
                    }
                }
                .follow {
                    @extend .text-with-icon;
                    span {
                        + span {
                            margin-left: 3px;
                        }
                    }
                }
            }

        }
    }
}